@model List<ChatBot.Business.Services.Models.QuestionAnswerModel>
@{
    ViewBag.Title = "Pending Queries";
}
<h1 style="text-align:center">@ViewBag.Title</h1>
@section styles{
    @Styles.Render("~/Content/table")
}

<fieldset>
    <div class="row">
        <div class="col-lg-12">           

            <table style="margin: 1% auto; padding: 5px; width: 100%">
                <thead>
                    <tr>
                        <th>NoticeBoard</th>
                        <th>Question</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var questions in Model)
                        {
                            <tr data-id="@questions.Id">
                                <td class="text-left">@questions.NoticeBoard</td>
                                <td class="text-left">@questions.QuestionHint1</td>
                                
                                <td>
                                    @Html.ActionLink("Update Answer", "Edit", "PendingQueries", new { area = "Admin", id = questions.Id }, null) |
                                    <a role="button" class="delete-questions" data-id="@questions.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="7" class="text-left">Records not found.</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

@section scripts{
    @Scripts.Render("~/bundles/questions")
}