@model ChatBot.Business.Services.Models.QuestionAnswerModel
@{
    ViewBag.Title = "Chatbot";
}
@section styles{
    @Styles.Render("~/Content/chatbot")
}
<di
<div class="chatbot">
    <h1 style="text-align:center">@ViewBag.Title</h1>
    <br />
    <div class="container">
        @using (Html.BeginForm("Index", "ChatBot", FormMethod.Post, new { area = "Student", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.Id)
            if (ViewBag.Message != null)
            {
                <div class="row message">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center">
                            <span> @ViewBag.Message</span><br /><br />
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NoticeBoard, new { @class = "control-label col-lg-3" })
                        <div class="col-lg-8">
                            @Html.DropDownListFor(m => m.NoticeBoardId, Model.NoticeBoards, new { @class = "col-lg-6 form-control" })
                            @Html.ValidationMessageFor(m => m.NoticeBoardId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.Label("Query", new { @class = "control-label col-lg-3" })
                        <div class="col-lg-8">
                            @Html.TextAreaFor(m => m.QuestionHint1, new { @class = "form-control col-lg-9" })
                            @Html.ValidationMessageFor(m => m.QuestionHint1)
                            @Html.HiddenFor(m => m.Id)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row answer  @(Model.Id > 0 ? "hide" : "")">
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.Label("Answer", new { @class = "control-label col-lg-3" })
                        <div class="col-lg-8">
                            @Html.TextAreaFor(m => m.Answer, new { @class = "form-control col-lg-9" })
                            @Html.ValidationMessageFor(m => m.Answer)
                            @Html.HiddenFor(m => m.Answer)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row submit-question @(Model.Id > 0 ? "" : "hide")">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-6">
                            <button type="submit" class="btn btn-primary">Submit Question</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chatbot")
}



